<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waveware.mapper.master.CompanyMapper">
	<select id="getCompanyList" resultType="com.waveware.dto.master.CompanyDTO">
		SELECT *
		FROM company_data
		where company_classify = #{classify}
	</select>
</mapper>
