<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waveware.mapper.TradeMapper">
	<resultMap id="trandeMap" type="com.waveware.dto.TrandeHistoryDTO">
		<result column="hscode" property="hscode" jdbcType="NVARCHAR" javaType="String"/>
		<result column="title_10" property="title" jdbcType="NVARCHAR" javaType="String"/>
		<result column="import_amounts" property="amounts" jdbcType="DOUBLE" javaType="double"/>
		<result column="import_kg" property="kg" jdbcType="DOUBLE" javaType="double"/>
		<result column="import_price" property="price" jdbcType="DOUBLE" javaType="double"/>
		<result column="total_price" property="totalPrice" jdbcType="DOUBLE" javaType="double"/>
		<result column="total_ratio" property="totalRatio" jdbcType="DOUBLE" javaType="double"/>
		<result column="total_dependence" property="totalDependence" jdbcType="DOUBLE" javaType="double"/>
		<collection property="code" ofType="com.waveware.dto.CodeDTO">
			<result column="code_2" property="code" jdbcType="VARCHAR" />
			<result column="title_2" property="title" jdbcType="VARCHAR" />
			<collection property="children" ofType="com.waveware.dto.CodeDTO" >
				<result column="code_4" property="code" jdbcType="VARCHAR" />
				<result column="title_4" property="title" jdbcType="VARCHAR" />
				<collection property="children" ofType="com.waveware.dto.CodeDTO" >
					<result column="code_6" property="code" jdbcType="VARCHAR" />
					<result column="title_6" property="title" jdbcType="VARCHAR" />
					<collection property="children" ofType="com.waveware.dto.CodeDTO" >
						<result column="code_10" property="code" jdbcType="VARCHAR" />
						<result column="title_10" property="title" jdbcType="VARCHAR" />
					</collection>
				</collection>
			</collection>
		</collection>
	</resultMap>

	<select id="selectTradeList" parameterType="string" resultMap="trandeMap">
		SELECT *, title_10 as title
		FROM 2022_import_trade_history  INNER JOIN hs_depth ON (hscode = code_10)
		WHERE YEAR = 2022
		AND country = #{country}
	</select>


	<select id="selectCountryList" resultType="com.waveware.dto.CountryDTO">
		SELECT country as 'code',kor as 'name' FROM trade_country_list;
	</select>


</mapper>
